@{
    ViewBag.Title = "Home Page";
}

<div class="container">
	<div class="col-sm-3">

	</div>
	<div class="col-lg-6 text-center">
		<h1 class="header"><b>Quality Work.<br>Day in, day out.</b></h1>
		<h4 class="sub-header">Work with professional teams of college students to achieve your goals.<br><a href="#">Learn more</a></h4>
		<br>
		<button class="btn btn-success">Get Started</button>
	</div>
	<div class="col-lg-3">

	</div>
</div>

<div class="container">
	<div class="col-lg-5 splitter"></div>
	<div class="col-lg-2 text-center splitter-center text-center"><h4><b>Our Teams</b></h4></div>
	<div class="col-lg-5 splitter"></div>
</div>

<div class="container">
	<div class="col-lg-4 fitter">
		<div class="panel panel-default">
			<div class="panel panel-heading text-center">
				<h3><i class="fa fa-laptop fa-fw"></i><span style="font-family:sans-serif"> Technicians</span></h3>
			</div>
			<div class="panel panel-body">
				<h4 class="sub-header-left">
					Our team of technicians is knowledgable and capable of fixing most IT related problems...
					<a href="#">Learn more</a>
				</h4>
				<button class="btn btn-success">See Technicians</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 fitter">
		<div class="panel panel-default">
			<div class="panel panel-heading text-center">
				<h3><i class="fa fa-picture-o fa-fw"></i><span style="font-family:sans-serif"> Designers</span></h3>
			</div>
			<div class="panel panel-body">
				<h4 class="sub-header-left">
					Our team of designers is highly educated and skilled artistically and creatively...
					<a href="#">Learn more</a>
				</h4>
				<button class="btn btn-success">See Designers</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 fitter">
		<div class="panel panel-default">
			<div class="panel panel-heading text-center">
				<h3><i class="fa fa-code fa-fw"></i><span style="font-family:sans-serif"> Programmers</span></h3>
			</div>
			<div class="panel panel-body">
				<h4 class="sub-header-left">
					Our team of programmers is highly skilled in most languages and development platforms...
					<a href="#">Learn more</a>
				</h4>
				<button class="btn btn-success">See Programmers</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-lg-5 splitter"></div>
	<div class="col-lg-2 text-center splitter-center text-center"><h4><b>Our Goals</b></h4></div>
	<div class="col-lg-5 splitter"></div>
</div>

<div class="container">
	<div class="col-lg-6 fitter">
		<div class="panel panel-default">
			<div class="panel panel-heading text-center">
				<h3><i class="fa fa-smile-o fa-fw"></i><span style="font-family:sans-serif"> Service</span></h3>
			</div>
			<div class="panel panel-body">
				<h4 class="sub-header-left">
					Our team members are all part of a Christian organization and strive to serve others...
					<a href="#">Learn more</a>
				</h4>
			</div>
		</div>
	</div>
	<div class="col-lg-6 fitter">
		<div class="panel panel-default">
			<div class="panel panel-heading text-center">
				<h3><i class="fa fa-book fa-fw"></i><span style="font-family:sans-serif"> Education</span></h3>
			</div>
			<div class="panel panel-body">
				<h4 class="sub-header-left">
					Our team members are all students and as such they are all eager to gain
					experience in real-life applications...
					<a href="#">Learn more</a>
				</h4>
			</div>
		</div>
	</div>
</div>