@{
    ViewBag.Title = "Home Page";
}

<div class="container">
	<div class="col-sm-3">

	</div>
	<div class="col-lg-6 text-center">
		<h1 class="header"><b>Quality Work.<br>Day in, day out.</b></h1>
		<h4 class="sub-header">Work with professional teams of college students to achieve your goals.<br><a href="#">Learn more</a></h4>
		<br>
		<button class="btn btn-success">Get Started</button>
	</div>
	<div class="col-lg-3">

	</div>
</div>
